.section-navigation {
  text-align: right;
  .fa-bars:before {
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__wrapper--img {
    &-img {
      vertical-align: middle;
      max-width: 100%;
      height: auto;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
  }
  &__item {
    margin: 0 15px;
  }
  &__link {
    text-decoration: none;
    color: $color-white;
    font:400 18px/60px $font-lato;
    padding: 60px 10px 5px;
    transition: 0.3s;
    &:hover {
      background-color: $color-hex;
      border-radius: 5px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__burger {
    display: none;
    margin-right: 4%;
    font-size: 30px;
  }
}
