.services-header {
  background: url("../img/services-header.png") no-repeat center/cover;
  padding-bottom: 124px;
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 35px 0 15px;
  }
}
.service-section {
  &__text {
    margin-bottom: 22px;
  }
  &__text-description {
    margin-bottom: 120px;
  }
  &__list {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    @media (max-width: 583px) {
      justify-content: center;
    }
  }
  &__item {
    max-width: 260px;
    width: 100%;

    @media (max-width: 989px) {
      margin: 0 15px 15px;
    }
  }
  &__item--block {
    background-color: #c8535a;
    opacity: 0.8;
    text-align: center;
    padding: 49px 0 43px;
  }
  &__wrapper--img {
    margin: 0 auto 34px;
    max-width: 130px;
    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
  &__item--title {
    color: $color-white;
    font: 300 30px/58px $font-lato;
    margin-bottom: 51px;
  }
  &__item--description {
    max-width: 209px;
    margin: 0 auto;
    color: #fefefe;
    font: 400 14px/20px $font-lato;
  }

}