$font-lato: 'Lato' , sans-serif;
$color-white: #ffffff;
$color-hex: #74c7d5;
$color-gray-saturated: #eeeeee;
$color-spaces: #94b963;
$color-title-about: #c7b6c5;
$color-description-about: #a1ca6c;
$color-social-about: #a1859e;
$color-contacts: #68a097;